<!-- TODO: delete inline CSS styles-->
<div style="margin-top: 110px;">
  <h1>Order list</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User email</th>
          <th scope="col">Total amount of the order</th>
          <th scope="col">Total items</th>
          <th scope="col">Order status</th>
          <th scope="col">More details</th>
        </tr>
      </thead>
      <tbody>
        <!-- FIXME: add ASYNK PIPE in the end -->
        <tr *ngFor="let itemOrder of orders; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ itemOrder.userEmail }}</td>
          <td>{{ itemOrder.totalPrice }}</td>
          <td>{{ itemOrder.totalItems }}</td>
          <td>{{ itemOrder.status }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              (click)="goToItemOrder(itemOrder._id)"
            >
              Additional Order Information
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
