<div class="col" ontouchstart="this.classList.toggle('hover');">
  <div class="container">
    <a [routerLink]="['category', category.id]">
      <div
        class="front"
        [style.backgroundImage]="'url(' + category.backgroundImage + ')'"
      >
        <div class="inner">
          <p>{{ category.categoryName }}</p>
          <span>{{ category.categoryShortDescroption }}</span>
        </div>
      </div>
      <div class="back">
        <div class="inner">
          <p>{{ category.categoryDescroption }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
