<div class="home">
  <div
    class="banner"
    [style.backgroundImage]="'url(../../../assets/header/header-bg.jpg)'"
  ></div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">What kind of Coffee we serve for you</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a class="img-pop-home">
          <img class="img-fluid gallery-area" [src]="placeholder_img" alt="" />
        </a>
        <a class="img-pop-home">
          <img class="img-fluid gallery-area" [src]="placeholder_img" alt="" />
        </a>
      </div>
      <div class="col-lg-8">
        <a class="img-pop-home">
          <img
            class="img-fluid gallery-area-long"
            [src]="placeholder_img"
            alt=""
          />
        </a>
        <div class="row">
          <div class="col-lg-6">
            <a class="img-pop-home">
              <img
                class="img-fluid gallery-area"
                [src]="placeholder_img"
                alt=""
              />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="img-pop-home">
              <img
                class="img-fluid gallery-area"
                [src]="placeholder_img"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
