.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-60 {
  padding-bottom: 60px;
}

.gallery-area {
  margin-bottom: 30px;
  width: 100%;
}

.gallery-area-long {
  margin-bottom: 30px;
  width: 100%;
}

.banner {
  background-size: cover;
  height: 920px !important;
}

@media (min-width: 1200px) {
  .banner {
    height: 920px !important;
  }

  .gallery-area-long {
    height: 350px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .gallery-area-long {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .banner {
    background-position: 50% 90% 50% 50%;
  }
}
