<div>
  <div
    class="banner"
    [style.backgroundImage]="
      'url(../../../../assets/header/header-small-bg.png)'
    "
  ></div>
  <!-- FIXME: delete inline styles befor prod-->
  <div style="margin-top: 110px;">
    <div>All products list</div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>

            <th scope="col">Category ID</th>
            <th scope="col">Category name</th>

            <th scope="col">Product ID</th>
            <th scope="col">Product name</th>

            <th scope="col">Price</th>
            <th scope="col">Amount</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemProduct of products; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ itemProduct.categoryId }}</td>
            <td>{{ itemProduct.categoryName }}</td>
            <td>{{ itemProduct.id }}</td>
            <td>{{ itemProduct.name }}</td>
            <td>{{ itemProduct.price }}</td>
            <td>999</td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                (click)="getItemProduct(itemProduct._id)"
              >
                Change product Data
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
