<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Item product</h3>
      <div *ngIf="product">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="name">Product name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="product.name"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
              required
            />
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Product name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input
              type="text"
              class="form-control"
              name="categoryName"
              [(ngModel)]="product.categoryName"
              #categoryName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && categoryName.invalid }"
              required
            />
            <div
              *ngIf="f.submitted && categoryName.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="categoryName.errors.required">
                Category Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              class="form-control"
              name="price"
              [(ngModel)]="product.price"
              #price="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
              required
              price
            />
            <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
              <div *ngIf="price.errors.required">Price is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Change product data</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
