<div>
  <div
    class="banner"
    [style.backgroundImage]="
      'url(../../../../assets/header/header-small-bg.png)'
    "
  ></div>
  <div *ngIf="categoryData$">
    <div class="d-flex justify-content-center">
      <h3>Category name is</h3>
    </div>
    <div class="wrapper">
      <div class="cols">
        <div *ngFor="let product of categoryData$">
          <app-category-item-product
            [itemProduct]="product"
          ></app-category-item-product>
        </div>
      </div>
    </div>
  </div>
</div>
